/*===============================================*/
/* 02. NAV BAR				 					 */
/*===============================================*/
#nav-header{
	position:relative;
}

#nav-bar{
	background-color: #D2B48C;
}


/*===============================================*/
/* 03. LOGO		 						 		 */
/*===============================================*/
#css-logo, a #css-logo{
	color:#FFF;
}

#and-icon{
	color:#FFF;
}

/*===============================================*/
/* 04. NAV MENU			 						 */
/*===============================================*/

/* ----------------------------------------------*/
/* 04.1	Parent Menu								 */
/* ----------------------------------------------*/

#top-nav-menu > li a{
	color:#FFF;
}

#top-nav-menu > li a:hover,
#top-nav-menu li a.active{
	color:#363636;
}

/* ----------------------------------------------*/
/* 04.2 Child Menu								 */
/* ----------------------------------------------*/
#top-nav-menu ul li a{
	background-color:#FFF;
	color:#363636;
}   

#top-nav-menu ul li a:hover{
	color:#D2B48C;
}


/*===============================================*/
/* 05. SIDE NAV MENU			 				 */
/*===============================================*/
/* 05.1 Sidebar 								 */
/* ----------------------------------------------*/
.sb-slidebar{
	background-color:#D2B48C;
}

#menu-icon a{
	color:#FFF;
}

#menu-icon a:hover{
	color:#363636;
}

/* 05.2 Sidebar Header 							 */
/* ----------------------------------------------*/
#close-button i{
	color:#FFF;
}

#close-button:hover i{
	color:#363636;
}

/* 05.3 Parent Menu 							 */
/* ----------------------------------------------*/
#side-nav-menu > li a{
	color:#FFF;
}

#side-nav-menu > li a:hover,
#side-nav-menu > li a.active{
	color:#363636;
}

/* 05.4 Child Menu 								 */
/* ----------------------------------------------*/
#side-nav-menu ul > li a{
	color:#FFF;
	opacity:0.8;
}



@media screen and (max-width: 991px) {	
/*===============================================*/
/* 04. NAV MENU			 						 */
/*===============================================*/
#top-nav-menu li a{
	color:#363636;
}

#top-nav-menu li a:hover{
	color:#D2B48C;
}

/* ----------------------------------------------*/
/* 04.5 Mobile Navigation						 */
/* ----------------------------------------------*/
#mobile-nav{
	color:#FFF;
}
}